footer.footer.container
  div(class="footer__firstrow")
    div(class="footer__firstrow-right")
      svg.icon-logo-en
        use(xlink:href="/img/svg-icons.svg#main-icon-farsi")
      p  تلفن پشتیبانی ۶۱۹۳۰۰۰۰ - ۰۲۱ | ۷ روز هفته، ۲۴ ساعته پاسخگوی شما هستیم
  div(class="footer__secondrow")
    div(class="footer__secondrow-items")
      svg.icon-features
        use(xlink:href="/img/svg-icons.svg#icon-express-delivery")
      p امکان تحویل سریع
    div(class="footer__secondrow-items")
      svg.icon-features
        use(xlink:href="/img/svg-icons.svg#icon-support")
      p ۲۴ ساعته، ۷ روز هفته
    div(class="footer__secondrow-items")
      svg.icon-features
        use(xlink:href="/img/svg-icons.svg#icon-cash-on-delivery")
      p امکان پرداخت در محل
    div(class="footer__secondrow-items")
      svg.icon-features
        use(xlink:href="/img/svg-icons.svg#icon-days-return")
      p هفت روز زمانت بازگشت
    div(class="footer__secondrow-items")
      svg.icon-features
        use(xlink:href="/img/svg-icons.svg#icon-original-products")
      p ضمانت اصل بودن کالاها
  div(class="footer__thirdrow")
    ul(class="footer__thirdrow-column")
      li(class="footer__thirdrow-column-items")
        p با دیجی‌کالا
      li(class="footer__thirdrow-column-items")
        a(href="#") اتاق خبر در دیجی‌کالا
      li(class="footer__thirdrow-column-items")
        a(href="#") فروش در دیجی‌کالا
      li(class="footer__thirdrow-column-items")
        a(href="#") فرصت‌های شغلی
      li(class="footer__thirdrow-column-items")
        a(href="#") گزارش تخلف در دیجی‌کالا
      li(class="footer__thirdrow-column-items")
        a(href="#") تماس با دیجی‌کالا
    ul(class="footer__thirdrow-column")
      li(class="footer__thirdrow-column-items")
        p خدمات مشتریان
      li(class="footer__thirdrow-column-items")
        a(href="#") پاسخ به پرسش‌های متداول
      li(class="footer__thirdrow-column-items")
        a(href="#") رویه‌های بازگرداندن کالا
      li(class="footer__thirdrow-column-items")
        a(href="#") شرایط استفاده
      li(class="footer__thirdrow-column-items")
        a(href="#") حریم خصوصی
      li(class="footer__thirdrow-column-items")
        a(href="#") گزارش باگ
    ul(class="footer__thirdrow-column")
      li(class="footer__thirdrow-column-items")
        p راهنمای خرید از دیجی‌کالا
      li(class="footer__thirdrow-column-items")
        a(href="#") نحوه ثبت سفارش
      li(class="footer__thirdrow-column-items")
        a(href="#") رویه ارسال سفارش
      li(class="footer__thirdrow-column-items")
        a(href="#") شیوه‌های پرداخت
    div(class="footer__thirdrow-4thcolumn")
      div(class="footer__thirdrow-4thcolumn")
        div(class="footer__thirdrow-4thcolumn-top") همراه ما باشید
        div(class="footer__thirdrow-4thcolumn-bottom")
          svg.icon-social
            use(xlink:href="/img/svg-icons.svg#icon-instagram")
          svg.icon-social
            use(xlink:href="/img/svg-icons.svg#icon-twitter")
          svg.icon-social
            use(xlink:href="/img/svg-icons.svg#icon-linkedin2")
